@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: rgb(226, 232, 240);
  border-width: 0px;
  border-style: solid;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 96px 0;
}

.page__2--row {
  flex-direction: column;
  padding: 0 200px;
}

.left__wrap {
  width: 40%;
}

.right__wrap {
  width: 60%;
  padding-left: 48px;
}

img {
  width: 100%;
}

.purple {
  color: #6414ff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link--logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  color: #243e63;
}

.nav__link--logo-img {
  width: 40px;
  margin-right: 12px;
}

.full__container {
  padding: 32px;
}

#page__1 {
  height: 92vh;
  padding: 0 88px;
}

.nav__link {
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  color: #243e63;
}

.login {
  margin: 0 24px 0 48px;
}

.signup {
  margin: 0;
  border-radius: 9999px;
  background-color: #6415ff;
  color: white;
  padding: 12px 32px;
}

button {
  cursor: pointer;
}

button,
input {
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0px;
}

.email__input {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 12rem;
  width: 100%;
  border-radius: 9999px;
  border-width: 2px;
  padding-left: 2rem;
  font-weight: 500;
}

.started__button {
  position: absolute;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 10rem;
  line-height: 1;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #6414ff;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
}

.page1__h1 {
  font-size: 48px;
  color: #1a202c;
}

.page1__p {
  color: #243e63;
  font-size: 18px;
  margin: 32px 0;
  line-height: 1.5;
}

.email__form {
  position: relative;
  max-width: 28rem;
  text-align: center;
}

.customer__logos {
  font-weight: 700;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  color: #a0aec0;
}

.custies__img {
  padding-top: 16px;
  padding-right: 64px;
}

.top__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.features__heading {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.h2__service {
  font-size: 48px;
  text-align: left;
  color: #243e63;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.h1__service {
  color: #243e63;
  letter-spacing: 0.025em;
}

.p__service {
  text-align: left;
  font-size: 16px;
  margin: 16px 0 0;
  font-weight: 500;
  line-height: 2;
  color: #7c8ba1;
}

.p__title {
  text-align: center;
  font-size: 18px;
  margin: 16px 0 0;
  font-weight: 500;
  line-height: 1.625;
  color: #7c8ba1;
  max-width: 36rem;
}

/* SERVICE CONTAINERS */

.services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}

.service {
  display: flex;
  width: calc(100% / 3);
}

.service__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  margin: 0 16px;
  padding: 32px 8px;
}

.service__img--container {
  border-radius: 9999px;
  border-width: 1px;
  padding: 1.25rem;
}

.service__img {
  height: 1.5rem;
  width: 1.5rem;
}

/* 

PAGE 3 

*/

.page__3--row {
  padding: 96px;
}

.page__3--text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.h3__page3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.h1__page3 {
  color: #243e63;
  font-size: 48px;
  text-align: left;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025em;
  margin: 16px 0 0;
}

.p__page3 {
  font-size: 18px;
  margin: 16px 0 0;
  color: #7c8ba1;
  text-align: left;
  font-weight: 500;
  line-height: 1.625;
}

.button__page--3 {
  border-radius: 9999px;
  background-color: #6415ff;
  color: white;
  padding: 12px 32px;
  margin: 32px 0 0;
  font-size: 14px;
  font-weight: 600;
  width: 9rem;
}

.img__page3 {
  width: 50%;
}

/* 

PAGE 4

*/

.page__4--row {
  padding: 96px 96px;
}

.img__page4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.page__4--text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.steps__pg4 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.step__box {
  display: flex;
  margin: 32px 0 0;
}

.step__box--right {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 24px;
}

.step__box--h2 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  color: #cbd5e0;
}

.step__box--right-h3 {
  color: #243e63;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
}

.step__box--right-p {
  color: #718096;
  margin: 12px 0 0;
  max-width: 20rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
}

.h1__pg4 {
  font-size: 48px;
  margin: 16px 0 0;
  text-align: left;
  font-weight: 900;
  line-height: 1.25;
  color: #243e63;
}

/* 

PAGE 5

*/

.page__5--row {
  padding: 96px 96px;
}

.h1__pg5 {
  font-size: 48px;
  margin: 16px 0 0;
  text-align: left;
  font-weight: 900;
  line-height: 1.25;
  color: #243e63;
}

.h3__page5 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

.p__page5 {
  font-size: 18px;
  margin: 28px 0;
  color: #7c8ba1;
  text-align: left;
  font-weight: 500;
  line-height: 1.625;
}

.page5__text {
  width: 50%;
}

.page__5--attributes {
  display: flex;
}

.affordable__row {
  width: 50%;
}

.affordable__p {
  color: #718096;
  margin-top: 1rem;
  line-height: 1.625;
}

.affordable__dollarsign {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #243e63;
}

.affordable__dollarsign--img {
  width: 40px;
  margin-right: 10px;
}

.page__5--button {
  display: flex;
}

.page5__img {
  width: 50%;
}

.page__6--row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 70px;
}

.card {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  text-align: center;
  width: calc(100% / 3.24);
  margin-right: 30px;
}

.card__middle {
  background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.card__1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 25px 0;
}

.m1 {
  color: #F7FAFC;
}

.card__2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 25px 0;
}

.m2 {
  color: #F7FAFC;
}

.card__3 {
  color: #a0aec0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 25px 0;
}

.m3 {
  color: #EDF2F7;
}

.card__p {
  font-size: 16px;
  color: #718096;
  font-weight: 500;
  margin: 25px 0;
}

.mp {
  color: #E2E8F0;
}

.card__heading {
  border-bottom: solid 2px rgb(226, 232, 240, .2);
}

.card__body {
  border-bottom: solid 2px rgb(226, 232, 240, .1);
}

.glow__line {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.glow-middle {
  background: none
}

.glow-3 {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.gradientized{
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
  margin: 25px 0;
  padding: 16px 32px;
  letter-spacing: 1px;
  width: 47%;
}

.gradientized-2{
  background-color: #F7FAFC;
  color: #6416FF;
  margin: 25px 0;
  padding: 16px 32px;
  letter-spacing: 1px;
  width: 47%;
}

.gradientized-3{
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
  margin: 25px 0;
  padding: 16px 32px;
  letter-spacing: 1px;
  width: 47%;
}

.button__cards {
  border-radius: 9999px;
  background-color: #6415ff;
  color: white;
  padding: 12px 32px;
  margin: 32px 0 0;
  font-size: 14px;
  font-weight: 600;
  width: 9rem;
}