@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: rgb(226, 232, 240);
  border-width: 0px;
  border-style: solid;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

li {
  list-style-type: none;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 0 28px; */
}

.shell {
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
}

/* #page__1 {
  margin-top: 32px;
} */

/* LINKS */

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -5px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--white:after {
  background-color: #f7fafc;
}

.link__hover-effect--black:after {
  background-color: rgb(100 21 255);
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.nav__link:hover {
  background-color: rgb(80 17 204);
}

.row {
  display: flex;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  padding: 96px 0;
}
.page__2--outer,
.page__1--outer,
.page__8--outer,
footer {
  position: relative;
}

footer {
  overflow: hidden;
  position: relative;
}

.pg__1--blob {
  pointer-events: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -10;
  transform: translate(-700px, 400px);
  scale: 0.45;
  opacity: 0.05;
}

.pg__2--blob {
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400px;
  opacity: 0.25;
  scale: 0.5;
  transform: translate(275px, 300px);
}

.pg__3--square {
  pointer-events: none;
  position: absolute;
  z-index: -10;
  right: 0;
  bottom: 0;
  transform: translate(50px, 50px);
  opacity: 0.4;
}

.pg__4--square {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  transform: translateY(90px);
  opacity: 0.5;
  z-index: -10;
}

/* .img__page4--base {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.pg__6--blob {
  position: absolute;
  scale: 0.45;
  opacity: 0.25;
  z-index: -20;
  pointer-events: none;
  left: 0;
  bottom: 0;
  transform: translate(-675px, 650px);
}

.pg__8--blob {
  pointer-events: none;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -20;
  height: 14rem;
  width: 14rem;
  color: rgb(79 209 197);
  opacity: 0.15;
  transform: translate(115px, -50px);
}

.pg__8--blob2 {
  pointer-events: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -20;
  height: 16rem;
  width: 16rem;
  color: rgb(100 21 255);
  opacity: 0.15;
  transform: translate(-140px, 25px);
}

.end__container--blob1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 20rem;
  width: 20rem;
  color: rgb(80 17 204);
  opacity: 0.5;
  z-index: -20;
  transform: translate(-100px, 125px);
}

.end__container--blob2 {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 20rem;
  width: 20rem;
  color: rgb(80 17 204);
  opacity: 0.5;
  z-index: -20;
  transform: translate(50px, -250px);
}

.footer__blob1 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20rem;
  width: 20rem;
  color: rgb(80 17 204);
  transform: translate(-80px, -125px);
  opacity: 0.5;
  z-index: -20;
}

.footer__blob2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 20rem;
  width: 20rem;
  color: rgb(80 17 204);
  transform: translate(125px, 190px);
  opacity: 0.5;
  z-index: -20;
}

.page__2--row {
  flex-direction: column;
  margin: 96px 0;
}

.left__wrap {
  width: 40%;
}

.right__wrap {
  width: 60%;
  padding-left: 48px;
}

img {
  width: 100%;
}

.purple {
  color: #6414ff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.nav__link--logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  color: #243e63;
  letter-spacing: 0.025em;
}

.nav__link--logo-img {
  width: 40px;
  margin-right: 12px;
}

.full__container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__link {
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  color: #243e63;
  transition: all 300ms ease;
  letter-spacing: 0.025em;
}

.login {
  margin: 0 24px 0 48px;
}

.signup {
  margin: 0;
  border-radius: 9999px;
  background-color: #6415ff;
  color: white;
  padding: 12px 32px;
}

button {
  cursor: pointer;
}

button,
input {
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0px;
}

.email__input {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 12rem;
  width: 100%;
  border-radius: 9999px;
  border-width: 2px;
  padding-left: 2rem;
  font-weight: 500;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 300ms;
}

.email__input::placeholder {
  color: rgb(226, 232, 240); /* Replace #yourColor with the color you want */
}

.email__input:hover {
  border-color: rgb(160 174 192);
}

.email__input:focus {
  border-color: rgb(100 21 255);
  outline: transparent solid 2px;
  outline-offset: 2px;
}

.started__button {
  position: absolute;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 10rem;
  line-height: 1;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #6414ff;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
}

.page1__h1 {
  font-size: 48px;
  color: #1a202c;
}

.page1__p {
  color: #243e63;
  font-size: 18px;
  margin: 32px 0;
  line-height: 1.5;
}

.email__form {
  position: relative;
  max-width: 28rem;
  text-align: center;
}

.customer__logos {
  font-weight: 700;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  color: #a0aec0;
}

.custies__img {
  padding-top: 16px;
  padding-right: 64px;
  filter: opacity(0.5);
}

.top__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.features__heading {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.h2__service {
  font-size: 48px;
  text-align: center;
  color: #243e63;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.h1__service {
  color: #243e63;
  letter-spacing: 0.025em;
}

.p__service {
  text-align: left;
  font-size: 16px;
  margin: 16px 0 0;
  font-weight: 500;
  line-height: 2;
  color: #7c8ba1;
}

.p__title {
  text-align: center;
  font-size: 18px;
  margin: 16px 0 0;
  font-weight: 500;
  line-height: 1.625;
  color: #7c8ba1;
  max-width: 36rem;
}

/* SERVICE CONTAINERS */

.services {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 48px auto 0;
}

.service {
  display: flex;
  width: calc(100% / 3);
}

.service__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  margin: 0 16px;
  padding: 32px 8px;
}

.service__img--container {
  border-radius: 9999px;
  border-width: 1px;
  padding: 1.25rem;
  width: 66px;
  height: 66px;
}

.service__img {
  height: 1.5rem;
  width: 1.5rem;
}

.text__container {
  margin-left: 16px;
}

/* 

PAGE 3 

*/

.page__3--row {
}

.page__3--text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.h3__page3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.h1__page3 {
  color: #243e63;
  font-size: 48px;
  text-align: left;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025em;
  margin: 16px 0 0;
}

.p__page3 {
  font-size: 18px;
  margin: 16px 0 0;
  color: #7c8ba1;
  text-align: left;
  font-weight: 500;
  line-height: 1.625;
}

.button__page--3 {
  border-radius: 9999px;
  background-color: #6415ff;
  color: white;
  padding: 12px 32px;
  margin: 32px 0 0;
  font-size: 14px;
  font-weight: 600;
  width: 9rem;
}

.img__page3 {
  width: 50%;
  display: flex;
  align-items: flex-end;
  position: relative;
}

/* 

PAGE 4

*/

.page__4--row {
  padding: 96px 0px;
}

.img__page4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
}

.page__4--text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
}

.steps__pg4 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.step__box {
  display: flex;
  margin: 32px 0 0;
}

.step__box--right {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 24px;
}

.step__box--h2 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  color: #cbd5e0;
}

.step__box--right-h3 {
  color: #243e63;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
}

.step__box--right-p {
  color: #718096;
  margin: 12px 0 0;
  max-width: 20rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
}

.h1__pg4 {
  font-size: 48px;
  margin: 16px 0 0;
  text-align: left;
  font-weight: 900;
  line-height: 1.25;
  color: #243e63;
}

/* 

PAGE 5

*/

.page__5--row {
}

.h1__pg5 {
  font-size: 48px;
  margin: 16px 0 0;
  text-align: left;
  font-weight: 900;
  line-height: 1.25;
  color: #243e63;
}

.h3__page5 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

.p__page5 {
  font-size: 18px;
  margin: 28px 0;
  color: #7c8ba1;
  text-align: left;
  font-weight: 500;
  line-height: 1.625;
}

.p__page5--faqs {
  text-align: center;
}

.page5__text {
  width: 50%;
}

.page__5--attributes {
  display: flex;
}

.affordable__row {
  width: 50%;
}

.affordable__p {
  color: #718096;
  margin-top: 1rem;
  line-height: 1.625;
}

.affordable__dollarsign {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #243e63;
}

.affordable__img--outer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(154 230 180);
  border-radius: 9999px;
  color: rgb(39 103 73);
  padding: 0.5rem;
  width: 36px;
  height: 36px;
  margin-right: 0.75rem;
}

.affordable__dollarsign--img {
  height: 1.25rem;
  width: 1.25rem;
}

.aff__out--2 {
  background-color: rgb(254 178 178);
  color: rgb(155 44 44);
}

.page__5--button {
  display: flex;
}

.page5__img {
  width: 50%;
  display: flex;
  align-items: center;
}

#page__6 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page__6--row {
  flex-direction: column;
  align-items: center;
}

.card__wrap {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 70px;
}

.card {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  text-align: center;
  width: calc((100% / 3) - 30px);
  margin-right: 30px;
  background-color: rgb(255 255 255);
}

.card__middle {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.card__1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 25px 0;
}

.m1 {
  color: #f7fafc;
}

.card__2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 25px 0;
}

.m2 {
  color: #f7fafc;
}

.card__3 {
  color: #a0aec0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 25px 0;
}

.m3 {
  color: #edf2f7;
}

.card__p {
  font-size: 16px;
  color: #718096;
  font-weight: 500;
  margin: 25px 0;
}

.mp {
  color: #e2e8f0;
}

.card__heading {
  border-bottom: solid 2px rgb(226, 232, 240, 0.2);
}

.card__heading--ends {
  border-bottom: solid 2px rgb(226, 232, 240);
}

.card__body {
  border-bottom: solid 2px rgb(226, 232, 240, 0.1);
}

.card__body--ends {
  border-bottom: solid 2px rgb(226, 232, 240);
}

.glow__line {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.glow-middle {
  background: none;
}

.glow-3 {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.gradientized {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  margin: 25px 0;
  padding: 16px 32px;
  letter-spacing: 1px;
}

.gradientized-2 {
  background-color: #f7fafc;
  color: #6416ff;
  margin: 25px 0;
  padding: 16px 32px;
  letter-spacing: 1px;
}

.gradientized-3 {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  margin: 25px 0;
  padding: 16px 32px;
  letter-spacing: 1px;
}

.button__cards {
  border-radius: 9999px;
  background-color: #6415ff;
  color: white;
  padding: 12px 32px;
  margin: 32px 0 0;
  font-size: 14px;
  font-weight: 600;
  width: 9rem;
}

.ratings {
  color: #f6ad55;
  margin-bottom: 16px;
}

.figure__page7 {
  width: 50%;
  display: flex;
}

.testimonials {
  width: 50%;
  padding-left: 64px;
}

.page7__p {
  margin: 16px 0 40px;
  margin-top: 1rem;
  font-weight: 500;
  line-height: 1.625;
  color: #4a5568;
}

.reviewers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewer__image {
  display: flex;
  align-items: center;
}

.image__mask {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.h3__review-subject {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #243e63;
}

.h3__reviewer--name {
  font-size: 1.25rem;
  font-weight: 700;
  color: #243e63;
}

.reviewer__description {
  font-weight: 500;
  color: #7c8ba1;
}

.naming__section {
  margin-left: 1.5rem;
}

.review__arrow {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  padding: 16px;
  margin: 0 16px;
  color: rgb(100 21 255);
  transition-duration: 300ms;
}

.review__arrow:hover {
  background-color: rgb(100 21 255 / 10%);
}

.review__arrow:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.review__arrow--img {
  stroke-width: 3;
}

.divider {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-right-width: 1px;
}

.review__buttons {
  display: flex;
}

.page__8--row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page__8--text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 576px;
  width: 100%;
}

.faq__list {
  max-width: 896px;
  width: 100%;
}

.list__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #2d3748;
  font-size: 20px;
  font-weight: 600;
  padding: 1rem 2.5rem;
  margin-top: 1.25rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: #edf2f7;
}

.accordion__extend {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}

.end__container {
  background-color: #6415ff;
  height: 282px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  min-width: 400px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.end__container--row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 28px;
}

.end__quote {
  color: #f7fafc;
  font-size: 30px;
  width: 50%;
}

.end__buttons {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.get-started__button {
  margin-right: 32px;
  border-radius: 9999px;
  background-color: #f56565;
  color: white;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 600;
  width: 185px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.contact__button-end {
  border-radius: 9999px;
  background-color: #6415ff;
  border: 1px solid whitesmoke;
  color: #f7fafc;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 600;
  width: 185px;
}

.page__9--row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #6414ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  z-index: 0;
}

.footer__lists {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer__list {
  color: #f7fafc;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.footer__list--title {
  text-transform: uppercase;
  margin-bottom: 28px;
}

.footer__list--link {
  margin-bottom: 0.75rem;
}

.footer__link {
  color: #f7fafc;
  font-size: 14px;
  margin-bottom: 16px;
}

.footer__line {
  margin: 64px 0;
  width: 100%;
  border-bottom-width: 2px;
  border-color: rgb(116, 44, 255);
}

.footer__row {
  flex-direction: column;
}

.footer__end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__p {
  font-size: 16px;
  color: #cbd5e0;
  font-weight: 500;
}

.footer__logo {
  display: flex;
  align-items: center;
  color: #f7fafc;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.05em;
}

.footer__logo--img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.footer__socials--img {
  width: 32px;
  height: 32px;
}

.footer__social--wrap {
  background-color: white;
  color: #1a202c;
  padding: 8px;
  border-radius: 9999px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
}

.footer__socials {
  display: flex;
}

@media (max-width: 1279px) {
  .page1__h1 {
    font-size: 36px;
  }

  .page1__p {
    font-size: 16px;
  }
}

@media (max-width: 1023px) {
  .page1__h1 {
    font-size: 30px;
  }
  .page1__p {
    text-align: center;
  }
  .email__form {
    margin: 0 auto;
  }
  .customer__logos {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  .custies__img {
    padding: 16px 0;
  }
  .left__wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 525px;
  }
  .right__wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 525px;
    padding: 0;
  }
  .testimonials {
    padding-left: 32px;
  }

  .nav__links {
    display: none;
  }

  .header__row {
    display: flex;
    flex-direction: column;
  }
  .p__title {
    font-size: 16px;
  }
  .services {
    max-width: 800px;
  }
  .service {
    width: 50%;
  }
  .page__2--row {
    align-items: center;
  }
  .h1__page3 {
    font-size: 36px;
  }
  .p__page3 {
    font-size: 16px;
  }
  .page__3--text-container {
    padding-right: 32px;
  }
  .h1__pg4 {
    font-size: 36px;
  }
  .h1__pg5 {
    font-size: 36px;
  }
  .p__page5 {
    font-size: 16px;
  }
  .page__5--attributes {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  .affordable__row {
    margin-bottom: 24px;
    width: 100%;
  }
  .card__wrap {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-bottom: 64px;
    width: 350px;
  }
  .h2__service {
    font-size: 36px;
  }
  .testimonials {
    width: 70%;
  }
  .h2__service--pricing {
    font-size: 48px;
  }
  .list__item {
    font-size: 18px;
  }
  .end__container {
    width: 100%;
  }
  .end__container--row {
    flex-direction: column;
    align-items: center;
  }
  .end__quote {
    text-align: center;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .services {
    flex-direction: column;
    align-items: center;
  }
  .p__title {
    font-size: 14px;
  }
  .page__3--row {
    flex-direction: column-reverse;
    align-items: center;
  }
  .img__page3 {
    width: 100%;
    max-width: 448px;
    margin-bottom: 64px;
  }
  .page__3--text-container {
    width: 100%;
    max-width: 448px;
    align-items: center;
    padding: 0;
  }
  .h1__page3 {
    text-align: center;
  }
  .p__page3 {
    font-size: 14px;
    text-align: center;
  }
  .page__4--row {
    flex-direction: column;
  }
  .img__page4 {
    width: 100%;
    max-width: 448px;
    margin: 0 auto 56px;
  }
  .page__4--text-container {
    width: 100%;
    max-width: 448px;
    margin: 0 auto;
    padding: 0;
  }
  .steps__pg4 {
    text-align: center;
  }
  .h1__pg4 {
    text-align: center;
  }
  .step__box {
    flex-direction: column;
    align-items: center;
  }
  .step__box--right {
    margin: 16px 0 0;
  }
  .step__box--right-h3 {
    text-align: center;
  }
  .step__box--right-p {
    text-align: center;
  }
  .page__5--row {
    flex-direction: column-reverse;
  }
  .page5__text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 448px;
    margin-top: 64px;
  }
  .page5__img {
    margin: 0 auto;
    width: 100%;
    max-width: 448px;
  }
  .h3__page5 {
    text-align: center;
  }
  .h1__pg5 {
    text-align: center;
  }
  .p__page5 {
    text-align: center;
    font-size: 14px;
  }
  .page__5--attributes {
    margin: 0 auto;
  }
  .affordable__dollarsign {
    justify-content: center;
  }
  .affordable__p {
    text-align: center;
  }
  .button__page--3 {
    margin: 0 auto;
  }
  .h2__service--pricing {
    text-align: center;
  }
  .button__page--3 {
    margin: 36px auto;
  }
  .page__7--row {
    flex-direction: column;
  }
  .figure__page7 {
    margin: 0 auto;
    width: 100%;
    max-width: 448px;
  }
  .testimonials {
    margin: 0 auto;
    width: 100%;
    max-width: 448px;
    margin-top: 64px;
  }
  .h2__service {
    text-align: center;
  }
  .ratings {
    text-align: center;
  }
  .h3__review-subject {
    text-align: center;
  }
  .page7__p {
    text-align: center;
  }
}
